<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">

<div layout:fragment="siteContent">
    <div class="container mt-5">
        <div class="filter-container">
            <div class="filter" style="height: 600px">
                <h4 class="text-center mt-2">Filter</h4>
                <hr>
                <div class="p-2">
                    <h5>По авторам:</h5>
                    <form action="/books/filter-by-author" method="GET">
                        <select class="form-select" name="authorId">
                            <option value="">Все Авторы</option>
                            <option th:each="author : ${authors}" th:value="${author.id}"
                                    th:text="${author.name}"></option>
                        </select>
                        <div class="d-grid gap-2 mt-2">
                            <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="bi bi-filter"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="p-2">
                    <h5>По году выпуска:</h5>
                    <form action="/books/filter-by-year" method="GET">
                        <select class="form-select" name="year">
                            <option value="">Все года</option>
                            <option th:each="book : ${books}" th:value="${book.year}" th:text="${book.year}"></option>
                        </select>
                        <div class="d-grid gap-2 mt-2">
                            <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="bi bi-filter"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="p-2">
                    <h5>По оценкам</h5>
                    <form action="/books/filter-by-point" method="GET">
                        <select class="form-select" name="point">
                            <option value="">Все Оценки</option>
                            <option th:each="book : ${books}" th:value="${book.point}" th:text="${book.point}"></option>
                        </select>
                        <div class="d-grid gap-2 mt-2">
                            <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="bi bi-filter"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="p-2">
                    <h5>По жанру:</h5>
                    <form action="/books/filter-by-genre" method="GET">
                        <div class="form-check" th:each="genre : ${genres}">
                            <input class="form-check-input" type="checkbox" id="genre" name="genres"
                                   th:value="${genre.id}">
                            <label class="form-check-label" th:text="${genre.name}"></label>
                        </div>
                            <div class="d-grid gap-2 mt-2">
                                <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="bi bi-filter"></i>
                                </button>
                            </div>
                    </form>
                </div>

                <div class="p-2">
                    <div class="d-grid gap-2 mt-2">
                        <button type="submit" class="btn btn-sm btn-outline-dark"> Все книги</button>
                    </div>
                </div>


            </div>
            <div class="books-list mb-3">
                <div class="row row-cols-1 row-cols-md-4 row-cols-lg-5 g-4">
                    <div th:each="book : ${filteredBooks}" class="col-6 col-md-6 col-lg-3">
                        <div class="card h-100 card-anim">
                            <img th:if="${book.photo}" th:src="@{'/viewphoto/'+ ${book.photo}}"
                                 style="object-fit: cover; height: 300px" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${book.name}"></h5>
                                <b>Автор:</b> <span th:text="${book.author.name}"></span>
                                <br>
                                <b>Жанр:</b>
                                <span th:each="genre : ${book.genre}" th:text="${genre.name} + ' '"></span>
                            </div>
                            <div class="card-footer">
                                <a th:href="@{'/details/' + ${book.id}}" class="btn btn-primary btn-sm">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

</html>