<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="siteContent">
    <div class="container mt-5 main-content">
        <div class="row">
            <div class="col-12 col-md-6 mt-2 d">
                <div class="  main-text">
                    <h1 style="font-size:80px ; font-weight: bold; font-family: inter;">BOOKS FOR
                        ALL</h1>
                    <b>
                        <p>Добро пожаловать на наш сайт! Здесь вы можете найти обзор на интересующую вас
                            литературу
                            и почитать авторские статьи . Наша платформа создана для тех, кто любит читать и
                            хочет
                            расширить свою библиотеку</p>
                    </b>
                    <p>
                        <a sec:authorize="isAnonymous()" href="/register" class="button-reg btn btn-dark">
                            Регистрация</a>
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-2 ">
                <img th:src="@{images/mainpic.svg}" width="90%">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="px-4 text-center">
            <h2 class="display-5 fw-bold">Kitap<span style="color: #E4F64A">Soresi </span></h2>
            <div class="col-lg-10 mx-auto">
                <p class="lead ">
                    Добро пожаловать на наш сайт! Мы - ваш надежный источник информации о книгах, обзорах на них и
                    увлекательных статьях. Наша миссия состоит в том, чтобы поделиться с вами вдохновением и страстью к
                    чтению.
                    На нашем сайте вы найдете обзоры на широкий спектр литературы - от классических произведений до
                    современных бестселлеров. Мы стараемся охватить различные жанры, чтобы каждый читатель мог найти
                    нечто особенное и интересное для себя.
                </p>
                <p class="lead">
                Мы также предлагаем увлекательные статьи о книгах, авторах и мире литературы. Вы сможете погрузиться
                в историю создания известных произведений, узнать о жизни и творчестве любимых авторов, а также
                открыть для себя новые литературные направления и тренды.</p>
                <p class="lead">
                Наша команда экспертов занимается тщательным анализом и обзором каждой книги, чтобы предоставить вам
                точные и полезные рекомендации. Мы верим, что книги имеют силу изменить нас и наш мир, и поэтому
                стремимся поделиться с вами лучшими литературными произведениями и их воздействием на наши
                жизни.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="container mt-2">
        <div class="row g-3" style="padding: 80px">
            <p class="text-center mb-0" style="font-size: 30px">Список популярных книг</p>
            <div th:each="i, iterStat : ${books}" th:if="${iterStat.count} &lt;= 4" class="col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 card-anim">
                    <img th:if="${i.photo}" th:src="@{'/viewphoto/'+ ${i.photo}}" class="card-img-top  "
                         style="object-fit: cover ; height:  350px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${i.name}"></h5>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{'/details/' + ${i.id}}"  style="background: #E4F64A" class="btn   btn-sm">Подробнее</a>
                    </div>
                </div>
            </div>
            <p class="text-center">
                <a class="btn" href="/books" style="width: 200px; background: #E4F64A">Посмотреть все</a>
            </p>
        </div>


        <div>
            <footer class="py-3 my-4 border-top">
                <ul class="nav justify-content-center pb-1 mb-1">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
                <p class="text-center text-muted">© Baikadamov Maksat</p>
            </footer>
        </div>
    </div>


</div>

</html>