<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">

<div layout:fragment="siteContent">
    <section class="h-100 gradient-custom-2">
        <div class=" container pb-5 h-100">
            <div class="row d-flex justify-content-center align-items-center  ">
                <div class="col-12  ">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row"
                             style="background-color: #E4F64A; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img th:if="${#authentication.principal.image}"
                                     th:src="@{'/viewphoto/'+ ${#authentication.principal.image}}"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1">
                                <br>
                            </div>
                            <div class="ms-2 mt-auto text-dark" style="margin-top: 150px;  ">
                                <h4 th:text="${#authentication.principal.fullName}">@</h4>
                                <br>
                            </div>
                            <div class="ms-auto mt-auto">
                                <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                                        data-bs-target="#editprofile">
                                    Изменить профиль
                                </button>
                            </div>
                            <div class="modal fade" id="editprofile" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title text-dark " id="updateModalLabel">Редактировать
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Закрыть">
                                            </button>
                                        </div>
                                        <div class="modal-body p-3">
                                            <form class="form" method="POST" enctype="multipart/form-data"
                                                  action="/save-profile">
                                                <input class="form-control" type="hidden"
                                                       th:value="${#authentication.principal.id}" id="id" name="id"
                                                       required>
                                                <label for="fullName">Полное имя</label>
                                                <input class="form-control" type="text"
                                                       th:value="${#authentication.principal.fullName}" id="fullName"
                                                       name="fullName" required>

                                                <label for="city">Город</label>
                                                <input class="form-control" type="text"
                                                       th:value="${#authentication.principal.city}" id="city"
                                                       name="city" required>

                                                <label for="contacts">contacts:</label>
                                                <input class="form-control" type="text"
                                                       th:value="${#authentication.principal.contacts}" id="contacts"
                                                       name="contacts" required>

                                                <label for="phone_number">phone_number:</label>
                                                <input class="form-control" type="number"
                                                       th:value="${#authentication.principal.phone_number}"
                                                       id="phone_number" name="phone_number" required>

                                                <label for="bio">bio:</label>
                                                <textarea rows="5" class="form-control"
                                                          th:text="${#authentication.principal.bio}" id="bio" name="bio"
                                                          required></textarea>

                                                <label for="image">Изображение:</label>
                                                <input class="form-control" type="file" id="image" name="image"
                                                       required>
                                                <br>
                                                <br>
                                                <button class="btn btn-success btn-sm" type="submit">Обновить</button>
                                                <br>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">

                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5 ">
                                <div class="mt-3  ">
                                    <h4 class="display-6" style="font-size: 30px"> Информация </h4>
                                </div>
                                <dl class="row mb-3">
                                    <dt class="col-sm-3 lead">Город</dt>
                                    <dd class="col-sm-9" th:text="${#authentication.principal.city}"></dd>

                                    <dt class="col-sm-3 lead">Контакты</dt>
                                    <dd class="col-sm-9" th:text="${#authentication.principal.contacts}"></dd>

                                    <dt class="col-sm-3 lead">Почта</dt>
                                    <dd class="col-sm-9" th:text="${#authentication.principal.Email}"></dd>

                                    <dt class="col-sm-3 lead">Номер телефона</dt>
                                    <dd class="col-sm-9" th:text="${#authentication.principal.phone_number}"></dd>

                                </dl>
                                <p class="display-6 mt-5" style="font-size: 28px">О себе</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p th:text="${#authentication.principal.bio}"></p>
                                </div>
                            </div>

                            <div>
                                <div class=" mb-3">
                                    <div class="nav-item dropdown d-flex">
                                        <button class="btn btn-warning dropdown-toggle ms-auto " role="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            Сделать новый пост
                                        </button>
                                        <div class="dropdown-menu p-3">
                                            <form action="/upload" method="POST" enctype="multipart/form-data">

                                                <div class="mt-3">
                                                    <h5>Опубликовать новый пост</h5>
                                                </div>
                                                <div class="mt-3">
                                                    <input name="image_upload" type="file" class="form-control">
                                                </div>
                                                <div class="mt-3">
                                                    <label for="caption">Введите текст</label>
                                                    <textarea required name="caption" id="caption" class="form-control"
                                                              rows="3"></textarea>
                                                </div>
                                                <div class="mt-3">
                                                    <button type="submit" class="btn  " style="background: #E4F64A">
                                                        Upload
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead display-6  mb-0" style="font-size: 28px">Последние публикации</p>
                            </div>
                            <div class="d-flex justify-content-center row">
                                <div class="col-8 ">

                                    <h6 class="text-primary ms-auto">{{m}}</h6>

                                </div>

                                <div class="col-8 mb-5">
                                    <div class="card">
                                        <div class="d-flex px-3 pt-2">
                                            <div>
                                                <h5>
                                                    <a class="text-decoration-none text-dark"
                                                       href="/profile/{{post.user}}">
                                                        @{{post.user}} </a></h5>
                                            </div>
                                            <div class="ms-auto">
                                                {% if post.user == user.username%}
                                                <div class="dropdown d-flex">
                                                    <a class="btn btn-sm dropdown-toggle  " role="button"
                                                       data-bs-toggle="dropdown"
                                                       aria-expanded="false">
                                                        Редактировать
                                                    </a>
                                                    <div class="dropdown-menu p-2" style="width: 230px">
                                                        <div class="mt-2" style="background-color: #f8f9fa;">
                                                            <form action="/deletepost" method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="pk" value="{{post.id}}">
                                                                <button type="submit" class="btn text-danger  btn-sm">
                                                                    Удалить пост
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <div class="mt-2 mx-auto" style="background-color: #f8f9fa;">
                                                            <!-- Кнопка-триггер модального окна -->
                                                            <button type="button" class="btn text-success btn-sm "
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#updateModal{{post.pk}}">
                                                                Редактировать пост
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <!-- Модальное окно -->
                                        <div class="modal fade" id="updateModal{{post.pk}}" tabindex="-1"
                                             aria-labelledby="updateModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="updateModalLabel">
                                                            Отредактировать
                                                            пост
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Закрыть"></button>
                                                    </div>
                                                    <form action="/updatepost" method="post"
                                                          enctype="multipart/form-data">

                                                        <div class="modal-body">

                                                            <img src="{{post.image.url}}"
                                                                 alt="image 1" class="w-100">

                                                            <input type="hidden" name="pk" value="{{post.pk}}">
                                                            <div class="mt-3">
                                                                <label for="post_photo">Новое фото</label>
                                                                <input type="file" name="image" id="post_photo"
                                                                       class="form-control">
                                                            </div>
                                                            <div class="mt-3">
                                                                <label for="post_text">Новый текст</label>
                                                                <textarea type="text" placeholder="Type something..."
                                                                          name="caption" required class="form-control"
                                                                          id="post_text" rows="3">

                                                </textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                Закрыть
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Сохранить
                                                                изменения
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>


                                        <hr style="margin-bottom: 0px ; margin-top: 4px">

                                        <img src="{{post.image.url}}"
                                             alt="image 1" class="w-100  ">

                                        <div class="card-body">
                                            <p class="card-text">
                                                <span class="card-title">No likes</span>

                                                <span class="card-title">Liked by {{post.no_of_likes}} person </span>

                                                <span class="card-title">Liked by {{post.no_of_likes}} people </span>

                                                <a href="/like-post?post_id={{post.id}}">

                                                    <img src="{%static 'social_book/images/heart2.svg'%}" width="25"
                                                         alt="">

                                                    <img src="{%static 'social_book/images/heart2.svg'%}" width="25"
                                                         alt="">

                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>